@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

.content {
    font-family: "Inter", sans-serif;
  }

.content code:not(.code-block code) {
    color: #028c5a;
  }

/* :root {
    --primary-hue: 158deg;
    --primary-saturation: 97%;
    --primary-lightness: 28%;
  } */