@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');


.content {
    font-family: "Inter", sans-serif;
  }

/* .content code:not(.code-block code) {
    color: #c97c2e;
  }
*/

:root {
    --primary-hue: 38deg;
    --primary-saturation: 92%;
  } 